<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login | App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <!-- Latest compiled and minified bootstap CSS -->
<link rel="stylesheet" href="http://localhost:7760/signup/css" >

</head>

<body>
 
    <div id="Login" class="container-fluid">
        <br>
        <div class="row">
        <div class="col-2 col-sm-3"></div>    
        <div class="col-sm-6" ><br>
            <h1 class="centre head">LOGIN</h1>
            <a href="/signup" class="centre"> New User ? Sign Up </a>
            <br>
            <div class="card row">
              <div class="col-sm-6 parent">
                <div class="child">
                  <br><br><br><br><br v-if="error">
                  <a href="/auth/facebook">
                <button @click="facebook()" class="log facebook">
                    Continue with Facebook
                </button></a>
                <br><br>
                <a href="/auth/google">
                <button @click="google()" class="log google">
                  Continue with Google&nbsp&nbsp&nbsp&nbsp
                </button></a>
                </div>
              </div>


              <div class="col-sm-6 bord">
            <div class="card-body">
            <form>
            <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
              <div data-tip="Enter Email" v-bind:if='validemail'>
                <div  error-tip="Enter Valid Email" v-bind:if='validemail'>
                    <input type="email" class="form-control" v-model="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div></div>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <div data-tip="Enter Password" v-bind:if='validpassword'>
                <div error-tip="Enter 8 character or long password" v-bind:if='validpassword'>
                  <input type="password" class="form-control" v-model="password" id="exampleInputPassword1" placeholder="Password">
              </div></div>
                <a href="/forgotpassword" style="float: right;" class="card-link">Forgot Password ?</a><br>
            </div>
            <div v-if="error" class="error"> 
              {{message}} !
            </div><br>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            
            <button type="button" @click="submit()" class="btn">Log IN</button>
            <div>
            </form>
          </div>
            </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
        </div> 
    </div>
    </div>
<script>
  const acc = new Vue({
      el: "#Login",
      data: {
        email:'',
        password:'',
        link:'',
        validemail:1,
        validpassword:1,
        wrongpassword:0,
        activateduser:0,
        alreadygoogle:0,
        alreadyfacebook:0,
        usernotexist:0,
        error:0,
        message:'',
      },created:function(){
               this.load();
      },
      methods:{
        load:function(){
                   
            },checkemail(email){
              if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)){
                this.validemail=1;
                return (true)
              }else{
                	this.validemail=0;
                return (false)
              }
              },
            checkpassword(pass){
              if(pass.length>8){
                this.validpassword=1
                return true;
              }else{
                this.validpassword=0;
                return false;
              }
              
            },
            submit(){              
              if(this.checkemail(this.email) && this.checkpassword(this.password)){
              
              $.post('/auth/local', {
              username:this.email.toLowerCase(),
              password:this.password,
              }, function (data) {
                console.log(data)
                if(data==='true'){
                  window.location.href='http://localhost:7760/profile';
                }else if(data[0]==='wp'){
                  acc.message=" Wrong Password";
                  acc.error=1;
                }else if(data[0]==='ve'){
                  acc.message=" Activate your account from the link sent to you mail";
                  acc.error=1;
                }else if(data[0]==='ue'){
                  acc.message=" User not exists. Sign UP with us";
                  acc.error=1;
                }else if(data[0]==='ag'){
                  acc.message=" You logged in previously using Google";
                  acc.error=1;
                }else if(data[0]==='af'){
                  acc.message=" You logged in previously using Facebook";
                  acc.error=1;
                }
              })
            }
            }
      }
  })  
      
 
</script>
</body>
</html>