<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <!-- Latest compiled and minified bootstap CSS -->
<link rel="stylesheet" href="http://localhost:7760/profile/css" >

</head>

<body>
 
    <div id="Profile">
      <br>
        <div class="row" v-if="data">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 card">
            <div class="row">
              <div class="col-sm-6"> <b>Your Photo</b><br>
                {{data.thumbnail}}
                <img src="https://ceas.stanford.edu/sites/g/files/sbiybj6161/f/styles/large-square/public/no_image.jpg" alt="Girl in a jacket" width="250" height="300">
              </div>
              <div class="col-sm-6 data">
                
                <b>Email ID</b> - {{data.emailId}}<br>
                <b>FullName</b> - {{data.fullname}}
              </div>
            </div>

          </div>
          <div class="col-sm-2"></div>
        </div>
    </div>
<script>
  const acc = new Vue({
      el: "#Profile",
      data: {
          data:[],
        
      },created:function(){
               this.load();
      },
      methods:{
        load:function(){
          axios.get('http://localhost:7760/profile/api')
          .then(function(Response){
            console.log(Response)
            acc.data=Response
          }).catch((err) => {
            console.log(err)
                acc.data=[]
            })
                   
            },
                  
      }
  })  
      
 
</script>
</body>
</html>