<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <!-- Latest compiled and minified bootstap CSS -->
<link rel="stylesheet" href="http://localhost:7760/profile/css" >

</head>

<body>
 
    <div id="Profile" class="container-fluid">
      <br>
        <div class="row" v-if="data">
          <div class="col-sm-2"></div>
          <div class="col-12 col-sm-8 card">
            <div class="row">
              <div class="col-sm-6 imagecon"> <b>Your Photo</b><br>
               
                <img v-bind:src="data.thumbnail" alt="Your Photo" width="250" height="300"><br>
                <button type="button" @click="submit()" id="myBtn" class=" btn">Change Image</button>
              </div>
              <div class="col-sm-6 data">
                
                <p class="email">Email ID</p>  {{data.emailId}}<br>
                <p class="name">FullName</p>  {{data.fullname}}<br>
                <br>
                <a href="http://localhost:7760/auth/logout">
                <button type="button" @click="submit()" class="btn" id="btn">Logout</button>
                </a>
              </div>
            </div>

          </div>
          <div class="col-sm-2"></div>
        </div>

        <div id="myModal" class="modal">
          <div class="modal-content">
            
            <span class="close">&times;</span><br> 
            
            <form action="/fileupload" enctype="multipart/form-data" method="POST">
              
              <input type="emailID" v-show="false" name="mail" v-bind:value="data.emailId" readonly/> 
            <div class="uploadOuter">
              <label for="uploadFile" class="btn">Upload Image</label>
              <strong>OR</strong>
            <span class="dragBox" >
              Darg and Drop image here
            <input type="file" name="image" onChange="dragNdrop(event)"  ondragover="drag()" ondrop="drop()" id="uploadFile"  />
            </span>
            </div>
            <div id="preview"></div>
            <button type="submit" value="Upload" class="btn centre">Upload</button><br>
            
            </div>
          </form>
      </div>

    </div>
<script>
  const acc = new Vue({
      el: "#Profile",
      data: {
          data:[],
        
      },created:function(){
               this.load();
      },
      methods:{
        load:function(){
          axios.get('http://localhost:7760/profile/api')
          .then(function(Response){
            console.log(Response)
            acc.data=Response
          }).catch((err) => {
            console.log(err)
                acc.data=[]
            })
                   
            },submit(){

            }
                  
      }
  }) 
  var modal = document.getElementById("myModal");
      var btn = document.getElementById("myBtn");
      var span = document.getElementsByClassName("close")[0];
      btn.onclick = function() {
        modal.style.display = "block";
      }
      span.onclick = function() {
        modal.style.display = "none";
      }
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      } 
      function dragNdrop(event) {
        console.log(event.target.files)
        var fileName = URL.createObjectURL(event.target.files[0]);
        var preview = document.getElementById("preview");
        var previewImg = document.createElement("img");
        previewImg.setAttribute("src", fileName);
        preview.innerHTML = "";
        preview.appendChild(previewImg);

      }
      function drag() {
        document.getElementById('uploadFile').parentNode.className = 'draging dragBox';
      }
      function drop() {
        document.getElementById('uploadFile').parentNode.className = 'dragBox';
      }

      
 
</script>
</body>
</html>